body{
    background-color: rgb(124, 155, 166);
    display: flex;

    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.buttons{
    height: 70px;
    width: 200px;
    border-radius: 10px;
    background-color: lightseagreen;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}

.buttons:hover{
    background-color: rgb(94, 125, 78);
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

#header{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 320px;
    font-size: 35px;
}

#formForEdit{
    display:grid;
    height: 650px;
    width: 520px;

    margin-top: -40px;


    background: #758086;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);


    align-items: center;
    align-self: center;
    justify-content: center;

}